<header>
	<div class="container">
		<div class="logo"><a href="<?php echo base_url() ?>" title="iLAB"><img src="<?php echo base_url('assets/imgs/logoilab.svg') ?>" alt="iLAB"></a></div>
		<div class="title-fluid hidden-xs">
			<h1>Sistema de Gerenciamento de Laboratórios</h1>
		</div>
	</div>
	<input type="checkbox" id="control-nav" />
	<label for="control-nav" class="control-nav"></label>
	<label for="control-nav" class="control-nav-close"></label>
<!-- menu -->
<nav>
	<ul>
		<li><a class="menu-item" href="<?php echo base_url('Home') ?>">Início</a></li>
		<li><a class="menu-item" href="<?php echo base_url('Home/calendario') ?>">Calendário</a></li>
		<li><a class="menu-item" href="<?php echo base_url('Home/sobre') ?>">Sobre</a></li>
		<li><a class="menu-item" href="<?php echo base_url('Home/ajuda') ?>">Ajuda</a></li>
		<li><a class="menu-item" href="<?php echo base_url('Home/login') ?>">Login</a></li>
	</ul>
</nav>
</header>