<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Escritório Escola">
	<meta name="keywords" content="Escritório Escola">
	<meta name="robots" content="index">
	<meta name="description" content="14 semana transdisciplinar Pitágoras - FAMA">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<!-- Links dos icones do site -->
	<link rel="icon" type="image/png" href="<?php echo base_url('assets/imgs/logo.png') ?>" sizes="16x16">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="<?php echo base_url('assets/css/bootstrap.min.css') ?>" >
	<link rel="stylesheet" href="<?php echo base_url('assets/css/bootstrap-theme.min.css') ?>" >
	<link rel="stylesheet" href="<?php echo base_url('assets/css/font-awesome.min.css') ?>" >
	<link rel="stylesheet" href="<?php echo base_url('assets/css/normalize.css') ?>" >
	<link rel="stylesheet" href="<?php echo base_url('assets/css/style.css') ?>" >
  <!-- material-cards -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="<?php echo base_url('assets/css/material-cards.css') ?>">
	<title>iLAB - Sistema de Gerenciamento de Laboratórios</title>
</head>
<body>
<?php echo $layout['header'] ?>
<?php echo $layout['content'] ?>
<?php echo $layout['footer'] ?>
	<script async defer type="text/javascript" src="<?php echo base_url('assets/js/ilab.min.js') ?>"></script>
</body>
</html>