  <div class="container main">
  <div class="row">
    <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Calendário de Aulas</h4>
      </div>
      <div class="panel-body">
        <div class="table-responsive ">
        <?php echo $calendario;?></div>
      </div>
    </div>
    </div>
      <div class="col-md-6">
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Reservas <?php if($reservado){echo strftime('do dia %d de %B de %Y', strtotime($reservado[0]['data_aula']));}?></h4>
      </div>
      <div class="panel-body">
        <?php if($reservado): ?>
         <?php foreach($reservado as $reserva):  ?>
            <dl class="dl-horizontal card ripple" data-ripple-color="#8ED8FF">
                      <dt>Data da Aula:</dt>
                      <dd><?php echo utf8_encode(strftime('%A, %d de %B de %Y', strtotime($reserva['data_aula'])))?></dd>
                      <dt>Professor:</dt>
                      <dd><?php echo $reserva['nome']?></dd>
                      <dt>Curso:</dt>
                      <dd><?php echo $reserva['cursodesc']?></dd>
                      <dt>Disciplina:</dt>
                      <dd><?php echo $reserva['disciplina']?></dd>
                      <dt>Periodo:</dt>
                      <dd><?php echo $reserva['periododesc']?></dd>
                      <dt>Turno:</dt>
                      <dd><?php echo $reserva['turnodesc']?></dd>
                      <dt>Unidade:</dt>
                      <dd><?php echo $reserva['unidadedesc']?></dd>
                      <dt>Laboratório:</dt>
                      <dd><?php echo $reserva['labnome']?></dd>
                      <dt>Tema:</dt>
                      <dd><?php echo $reserva['titulo_aula']?></dd>
                      <dt>Descrição:</dt>
                      <dd><?php echo $reserva['descricao']?></dd>
                    </dl><br><br>
         <?php endforeach ?>

        <?php else: ?>
          <div>Sem reservas</div>

      <?php endif; ?>
        </div>
        </div>
      </div>
  </div>
</div>
